<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/cards.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="card">
      <div class="card-image-container">
        <div class="card-image maldivas"></div>

        <span class="discount">-60%</span>

        <span class="package">Pacote</span>
      </div>

      <div class="text_in_low_card">
        <h2>Maldivas</h2>

        <p>Pacote 7 noites - All Inclusive</p>
      </div>

      <div class="card-bottom">
        <div class="price">
          <p class="old-price">R$ 23.000</p>

          <p class="new-price">R$ 9.200</p>
        </div>

        <button class="details-button">Ver detalhes</button>
      </div>
    </div>
  </body>
</html>
