<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/filters.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="filter">
      <p class="filter_text">Filtros</p>
      <div class="line"></div>

      <form>
        <b class="low_text" style="margin-bottom: 5px">Tipo de Viagem</b>

        <div class="radio-group">
          <input type="radio" id="windows" name="sistema" value="windows" />
          <label for="windows" class="low_text">Ida e volta</label>
        </div>

        <div class="radio-group">
          <input type="radio" id="linux" name="sistema" value="linux" />
          <label for="linux" class="low_text">Apenas ida</label>
        </div>

        <div class="radio-group">
          <input type="radio" id="mac" name="sistema" value="mac" />
          <label for="mac" class="low_text">Muitos destinos</label>
        </div>

        <div class="line"></div>
      </form>
    </div>
  </body>
</html>
