<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer">
      <img src="../img/header-logo.webp" class="logo" />

      <div class="footer-content">
        <div class="img-conteiner">
          <p class="letter">
            Conectamos as pessoas aos melhores <br />
            lugares do mundo com experiências <br />
            únicas e inesquecíveis
          </p>

          <div class="icons">
            <img src="../img/instagram.png" />
            <img src="../img/youtube.png" />
            <img src="../img/facebook.jpg" />
          </div>
        </div>

        <div class="img-conteiner">
          <b class="letter">Institucional</b>
          <a class="links" href="google.com">Sobre nós</a>
          <a class="links">Políticas de Privacidade</a>
          <a class="links">Termos de Uso</a>
        </div>

        <div class="img-conteiner">
          <b class="letter">Ajuda</b>
          <a class="links" href="google.com">Contato</a>
          <a class="links">Formas de pagamento</a>
          <a class="links">Termos de Uso</a>
        </div>

        <div class="img-conteiner">
          <b class="letter">Suporte</b>
          <a class="links" href="google.com">Email</a>
          <a class="links">Telefone</a>
          <a class="links">Whatssap</a>
        </div>
      </div>
    </div>
  </body>
</html>
